*~
.make/
haskell/.cabal-sandbox/
cabal.sandbox.config
haskell/compiler-bootstrap/dist/
haskell/compiler-lib/dist/
haskell/comms-http/dist/
haskell/compiler/dist/
haskell/examples/dist/
haskell/runtime/dist/
haskell/utils/dist/

ext/

cpp/runtime/Makefile.in
cpp/runtime/aclocal.m4
cpp/runtime/autom4te.cache/
cpp/runtime/config.guess
cpp/runtime/config.h.in
cpp/runtime/config.sub
cpp/runtime/configure
cpp/runtime/depcomp
cpp/runtime/install-sh
cpp/runtime/ltmain.sh
cpp/runtime/missing
cpp/runtime/build/
cpp/runtime/test-driver


